Django==4.2.11  # LTS версия
djangorestframework==3.15.2  # Актуальная версия DRF
drf-yasg==1.21.7  # Для Swagger/ReDoc документации
aiogram==3.4.1  # Для Telegram-бота (асинхронный)
python-dotenv==1.0.1  # Для переменных окружения
pytest==8.0.0  # Для тестов (опционально)
pytest-django==4.8.0  # Для тестов Django (опционально)
pytest-pythonpath==0.7.3  # Для тестов (опционально)
djoser==2.2.3
